* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    margin: auto;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0;
}

.titulo {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    text-align: center;
}

.texto {
    font-family: 'Cabin Condensed', sans-serif;
    color: black;
}

.link {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
}



/* CONFIGURAÇÃO MOBILE */
@media screen and (max-width: 1000px){
    h1 {
        font-size: 1.75em;
    }

    h2 {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 600px) {
    
}